<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" href="/vendor/fancy-friday.css">
<link rel="stylesheet" href="/css/base.css">
{% block head %}{% endblock %}
<title>{% block title %}Minicade{% endblock %}</title>
<body>

<nav class="navbar navbar-minicade" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsible-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Minicade</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapsible-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/games">Games</a></li>
        <li><a href="/docs">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block body %}{% endblock %}
<section class="yellow">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 upside-down-friend-holder">
        <img src="/images/upside-down-friend.png">
      </div>
      <div class="col-sm-8">
        <h1>Credits</h1>
        <p>Minicade is made by <a href="http://twitter.com/toolness">@toolness</a> and <a href="http://twitter.com/varelidi">@varelidi</a>.</p>
        {% block credits %}{% endblock %}
      </div>
    </div>
  </div>
</section>
<script src="/vendor/jquery-2.0.3.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/fancy-friday.js"></script>
{% block scripts %}{% endblock %}
{% include "ga.html" %}
</body>
