{% extends "base.html" %}

{% block head %}
<meta name="makes" content="{{makesJSON}}">
<link rel="stylesheet" href="/css/minicade.css">
<link rel="stylesheet" href="/vendor/hljs-railscasts.css">
{% endblock %}

{% block title %}Minicade: {{bin}}{% endblock %}

{% block body %}
<div id="screen" class="vcenter">
  <div class="screen-container"></div>
</div>
<div id="page">
<section>
  <div class="container">
    <h2 class="subheading">
      {% if isNew %}New{% endif %}
      <span class="tag-name">{{bin}}</span>
    </h2>
    {% if isPlayable %}
      {% if isNew %}
        <p>Welcome to your new Minicade!</p>
        <p>We've added a few games to get you started. You can edit the
          playlist by using the <strong>Edit Minicade</strong> button below.</p>
      {% else %}
        <p>This is an arcade of {{makes.length}} mini game{% if makes.length > 1 %}s{% endif %}.</p>
      {% endif %}

      <a href="#play" class="btn btn-awsm">Play Minicade</a>
      <a href="/b/{{bin}}/edit" class="btn btn-awsm">Edit Minicade</a>
      <br>
      <br>

      {% if isNew %}
        <p><small>(Don't like the name <span class="tag-name">{{bin}}</span>? You can change it by hacking the URL in your browser's address bar.)</small></p>
      {% else %}
        <p><small>Want to start your own minicade? <a href="/">It's easy</a>!</small></p>
      {% endif %}
    {% endif %}
    <div class="row joystick">
      <img src="/images/joystick.png">
    </div>
    <div class="playlist-rows">
    {% if not isPlayable %}
      <div class="row">
        <div class="col-sm-12 instructions">
          <p>There are no games in this minicade.</p>
        </div>
      </div>
    {% else %}
    {% for make in makes %}
      <div class="row">
        <div class="col-sm-8">
          <h6><a href="{{ make.url }}" target="_blank">{{make.title}}</a></h6>
          <p><small>{{make.description}}</small></p>
        </div>
        {% if make.remixurl %}
        <div class="col-sm-4 text-right">
          <h6>
            <button data-toggle="modal" data-target="#remix_{{ loop.index }}" class="btn btn-awsm btn-awsmblue btn-xs">Remix
            {% if make.remixtool %}in {{ make.remixtool }}{% else %}Game{% endif %}</button>
          </h6>
        </div>
        {% endif %}
      </div>
    {% endfor %}
    {% endif %}
    </div>
  </div>
</section>
<section class="inverted">
  {% include "developer-docs.html" %}
</section>
{% for make in makes %}{% if make.remixurl %}
<div class="modal fade" id="remix_{{ loop.index }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Remix {{ make.title }}</h4>
      </div>
      <div class="modal-body">
        <p>You are about to start remixing <strong>{{ make.title }}</strong> in {{ make.remixtool|default('a different website') }}.</p>
        <p>When you're done remixing, please take note of the URL of your remix. If it's different from <code>{{ make.url }}</code>, you will need to edit your Minicade to point to your remix.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-awsm" data-dismiss="modal">Nevermind</button>
        <a href="{{ make.remixurl }}" target="_blank" class="btn btn-awsm" data-confirm-remix>Okay</a>
      </div>
    </div>
  </div>
</div>
{% endif %}{% endfor %}
</div>
{% endblock %}

{% block credits %}
<p>All the games in this minicade are by their respective authors.</p>
{% endblock %}

{% block scripts %}
<script src="/js/minicade.js"></script>
<script>
$('body').on('click', 'a[data-confirm-remix]', function(e) {
  $(e.target).parents('.modal').modal('hide');
});
</script>
{% endblock %}
