  <div class="container">
    <h3>Sample Games</h3>

    <p>Here are some sample games to get you started.</p>

    <ul>
    {% for game in sampleGames %}
      <li><a href="{{ game.remixurl }}">{{ game.title }}</a> by 
        {% for author in game.authors %}
          {% if not loop.first %}and{% endif %}
          <a href="http://twitter.com/{{ author }}">@{{ author }}</a>
        {% endfor %}
        <p>{{ game.devnotes|safe }}</p>
      </li>
    {% endfor %}
    </ul>

    <p>We're always looking for new games to add to this list. If you make one, just tweet a link to <a href="http://twitter.com/toolness">@toolness</a> and he'll add it. Alternatively, you can <a href="https://github.com/toolness/minicade/edit/master/static/sample-games.yaml">edit this file</a> and submit a pull request.</p>

    <div class="row">
      <div class="col-sm-8">
        <h3>JavaScript API</h3>
        <p>If you make a game from scratch or modify an existing one that isn't built for Minicade, you'll probably want to use the Tinygame library, which makes it easy for Minicade to talk to your game.</p>
        <p>To use it, add the following script tag to your HTML:</p>
        {% highlight 'html' %}
        <script src="//minicade.herokuapp.com/tinygame.js"></script>
        {% endhighlight %}
        <p>When you do this, you'll notice a gray bar at the top of your page. This is simulating the Minicade time bar, which shows the player how long they have to complete your game. Tinygame also simulates various events that Minicade will send your game throughout its lifecycle.</p>
        <p>When Minicade shows your game to the player, <code>Tinygame.onplay</code> is called, so you'll want to start your game logic at that time, like so:</p>
        {% highlight 'js' %}
        Tinygame.onplay = function() {
          // Start accepting user input, animating sprites, etc...
          console.log("Game started!");
        };
        {% endhighlight %}
        <p>When the player runs out of time, <code>Tinygame.onoutoftime</code> is called, so you'll want to register a callback for that, too:</p>
        {% highlight 'js' %}
        Tinygame.onoutoftime = function() {
          // Stop accepting user input, show ending animation, etc...
          console.log("Player ran out of time!");
        };
        {% endhighlight %}
        <p>Alternatively, at some point the player might win your game. When this happens, call <code>Tinygame.win()</code> to inform Minicade of their victory, so the player's score can be updated and Minicade can move on to the next game. Or, if the player prematurely falls off a cliff, you can use <code>Tinygame.lose()</code>.</p>
        <p>Tinygame supports a few more features; these are just the basics. You can learn more in the <a href="https://github.com/toolness/fancy-friday#tinygame-api">Tinygame documentation</a>.</p>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Can I use my favorite HTML5 gaming library?</h3>
          </div>
          <div class="panel-body">
            <p>Absolutely! Minicade uses a micro-framework called <a href="https://github.com/toolness/fancy-friday">Fancy Friday</a> to embed your game in an <code>&lt;iframe&gt;</code> element. Your game can use whatever libraries it wants.</p>
            <p>However, there is a need for Minicade to communicate with your game. For example:</p>
            <ul>
              <li>Minicade needs to tell your game what the current difficulty level is.</li>
              <li>Minicade needs to tell your game how much time the player has to complete your game.</li>
              <li>Your game needs to tell Minicade what the player's score is.</li>
            </ul>
            <p>To facilitate this communication, your game is expected to implement a bit of plumbing, which Tinygame does for you.</p>
            <p>If you don't like Tinygame, you're free to write your own integration code, so long as it conforms to the <a href="https://github.com/toolness/fancy-friday#embedded-microgame-api">Embedded Microgame API</a>. Other than that, you're welcome to use whatever libraries you like to create your game!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  