{% extends "base.html" %}

{% block head %}
<meta name="bin" content="{{bin}}">
<meta name="makes" content="[]">
<link rel="stylesheet" href="/css/minicade.css">
{% endblock %}

{% block title %}Minicade: {{bin}}{% endblock %}

{% block body %}
<div id="screen" class="vcenter">
  <div class="screen-container"></div>
</div>
<div id="page"></div>
{% endblock %}

{% block credits %}
<p>All the games in this minicade are by their respective authors.</p>
{% endblock %}

{% block scripts %}
<script src="/vendor/react/build/react-with-addons.js"></script>
<script src="/vendor/react/build/JSXTransformer.js"></script>
<script src="/js/minicade.js"></script>
<script src="/js/firebase-based-minicade.jsx" type="text/jsx"></script>
{% endblock %}
