{% extends "base.html" %}

{% block head %}
<meta name="bin" content="{{bin}}">
<meta name="makes" content="[]">
<link rel="stylesheet" href="/css/minicade.css">
{% endblock %}

{% block title %}Minicade: {{bin}}{% endblock %}

{% block body %}
<div id="screen" class="vcenter">
  <div class="screen-container"></div>
</div>
<div id="page">
  <section>
    <div className="container">
      <center>
        <!-- http://upload.wikimedia.org/wikipedia/commons/3/30/Chromiumthrobber.svg -->
        <svg width="16" height="16" viewBox="0 0 300 300"
             xmlns="http://www.w3.org/2000/svg" version="1.1">
          <path d="M 150,0
                   a 150,150 0 0,1 106.066,256.066
                   l -35.355,-35.355
                   a -100,-100 0 0,0 -70.711,-170.711 z"
                fill="#3FA9F5">
            <animateTransform attributeName="transform" attributeType="XML"
                   type="rotate" from="0 150 150" to="360 150 150"
                   begin="0s" dur="1s" fill="freeze" repeatCount="indefinite" />
          </path>
        </svg>
      </center>
    </div>
  </section>
</div>
{% endblock %}

{% block credits %}
<p>All the games in this playlist are by their respective authors.</p>
{% endblock %}

{% block scripts %}
<script src="/vendor/react/build/react-with-addons.js"></script>
<script src="/vendor/react/build/JSXTransformer.js"></script>
<script src="/vendor/reconnecting-websocket.js"></script>
<script src="/js/minicade.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/realtime-based-minicade.jsx" type="text/jsx"></script>
{% endblock %}
