<h3>Sample Games</h3>
<p>Here are some sample games to get you started.</p>
<ul>
  <li><a href="https://toolness.makes.org/thimble/flyswat/remix">Flyswat</a> is a very simple game with art by <a href="http://twitter.com/varelidi">@varelidi</a> and code by <a href="http://twitter.com/toolness">@toolness</a>.</li>
  <li><a href="https://toolness.makes.org/thimble/poundsplat/remix">Poundsplat</a>, by <a href="http://twitter.com/stenington">@stenington</a>, is a tiny side-scroller that uses the <a href="http://coquette.maryrosecook.com/">Coquette</a> library.</li>
  <li><a href="https://toolness.makes.org/thimble/typetheword/remix">Type-The-Word</a> is a rather self-descriptive game by <a href="http://twitter.com/epchristensen">@epchristensen</a>.</li>
  <li><a href="https://thimble.webmaker.org/project/52861/remix">Number-Comparison</a> is a simple game by <a href="https://twitter.com/ohmmmavis">@ohmmmavis</a>.</li>
  <li><a href="https://thimble.webmaker.org/project/52301/remix">Count-1s</a> is a straightforward counting game by <a href="https://twitter.com/ohmmmavis">@ohmmmavis</a>.</li>
  <li><a href="https://thimble.webmaker.org/project/52485/remix">Count-0s</a> is a trickier counting game by <a href="https://twitter.com/ohmmmavis">@ohmmmavis</a>. Be sure you're counting the right thing!</li>
  <li><a href="https://thimble.webmaker.org/project/53120/remix">Read-Out-Sentence</a> is a game by <a href="https://twitter.com/ohmmmavis">@ohmmmavis</a>. Just follow the instructions and have fun! </li>
  <li><a href="https://thimble.webmaker.org/project/52289/remix">Text-Colour</a> is a colour recognition game by <a href="https://twitter.com/ohmmmavis">@ohmmmavis</a>.</li>
</ul>
<p>We're always looking for new games to add to this list. If you make one, just tweet a link to <a href="http://twitter.com/toolness">@toolness</a> and he'll add it. Alternatively, you can <a href="https://github.com/toolness/minicade/edit/master/template/sample-games.html">edit this file</a> and submit a pull request.</p>
