<h3>Sample Games</h3>
<p>Here are some sample games to get you started.</p>
<ul>
  <li><a href="https://toolness.makes.org/thimble/flyswat/remix">Flyswat</a> is a very simple game with art by <a href="http://twitter.com/varelidi">@varelidi</a> and code by <a href="http://twitter.com/toolness">@toolness</a>.</li>
  <li><a href="https://toolness.makes.org/thimble/poundsplat/remix">Poundsplat</a>, by <a href="http://twitter.com/stenington">@stenington</a>, is a tiny side-scroller that uses the <a href="http://coquette.maryrosecook.com/">Coquette</a> library.</li>
  <li><a href="https://toolness.makes.org/thimble/typetheword/remix">Type-The-Word</a> is a rather self-descriptive game by <a href="http://twitter.com/epchristensen">@epchristensen</a>.</li>
</ul>
<p>We're always looking for new games to add to this list. If you make one, please tweet a link to <a href="http://twitter.com/toolness">@toolness</a> and he'll add it!</p>
