<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="makes" content="{{makesJSON}}">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/vendor/fancy-friday.css">
<link rel="stylesheet" href="/vendor/hljs-railscasts.css">
<style>
html.playing, html.playing body {
  height: 100%;
  margin: 0;
  background: white;
}

.vcenter {
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

#screen {
  width: 100%;
  height: 100%;
  text-align: center;
}

html:not(.playing) #screen {
  display: none;
}

html.playing #page {
  display: none;
}

.ff-microgame {
  background: white;
}

h2.subheading {
  margin-top: -10px;
  text-transform: lowercase;
}

.tag-name {
  font-family: monospace;
}
</style>
<title>Minicade for #{{tag}}</title>
<div id="screen" class="vcenter">
  <div class="screen-container"></div>
</div>
<div id="page">
<section>
  <div class="container">
    <h2 class="subheading"><span class="tag-name">#{{tag}}</span></h2>
    {% if isPlayable %}
      <p>This is an arcade of {{makes.length}} mini games created with <a href="https://thimble.webmaker.org/">Thimble</a> and tagged with <span class="tag-name">#{{tag}}</span>.</p>
      <button id="play" class="btn btn-awsm">Play</button>
      <br>
      <br>
      <p><small>Want to start your own minicade? <a href="/">It's easy</a>!</small></p>
    {% endif %}
    <div class="row joystick">
      <img src="/images/joystick.png">
    </div>
    <div class="playlist-rows">
    {% if not isPlayable %}
      <div class="row">
        <div class="col-sm-12 instructions">
          <p>There are no games in this minicade yet. To add one, create a game on <a href="https://thimble.webmaker.org">Thimble</a> and tag it with <span class="tag-name">#{{tag}}</span>. Then reload this page.</p>
          <p>(Don't like the tag <span class="tag-name">#{{tag}}</span>? You can change it by hacking the URL in your browser's address bar.)</p>
        </div>
      </div>
    {% else %}
    {% for make in makes %}
      <div class="row">
        <div class="col-sm-8">
          <h6>{{make.title}}</h6>
          <p><small>{{make.description}}</small></p>
        </div>
        <div class="col-sm-4 text-right">
          <h6><a href="{{make.remixurl}}" class="btn btn-awsm btn-xs">Remix</a></h6>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    </div>
  </div>
</section>
<section class="inverted">
  {% include "developer-docs.html" %}
</section>
<section class="yellow">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 upside-down-friend-holder">
        <img src="/images/upside-down-friend.png">
      </div>
      <div class="col-sm-8">
        <h1>Credits</h1>
        <p>Minicade is made by <a href="http://twitter.com/toolness">@toolness</a> and <a href="http://twitter.com/varelidi">@varelidi</a>.</p>
        <p>All the games in this minicade are by their respective authors.</p>
      </div>
    </div>
  </div>
</section>
</div>
<script src="/vendor/jquery-2.0.3.js"></script>
<script src="/vendor/fancy-friday.js"></script>
<script>
var SCORE_MULTIPLIER = {easy: 100, medium: 125, hard: 150};
var PLAY_TIME = {easy: 5, medium: 4, hard: 3};
var READ_DELAY = 1500;
var MAKES = JSON.parse($('meta[name=makes]').attr('content'));

var score = 0;

function showNewScore(display, newScore, cb) {
  var h1 = $('<h1></h1>').text(scoreStr(score)).appendTo(display);

  function scoreStr(value) { return 'Score ' + value; }

  function animateScore(value) {
    h1.delay(10).queue(function(next) {
      $(this).text(scoreStr(value));
      next();
    });
  }

  while (score < newScore) animateScore(++score);
  h1.delay(READ_DELAY).queue(function(next) { next(); cb(); });
}

function playMicrogames(display, difficulty) {
  MAKES.forEach(function(info) {
    display
      .screen(info.title).delay(READ_DELAY).queue(function play(next) {
        var url = info.contenturl;
        var microgame = FancyFriday.Microgame(url, {
          autoplay: true,
          difficulty: difficulty,
          playTime: PLAY_TIME[difficulty]
        });

        microgame.addEventListener("microgameended", function() {
          var newScore = score + Math.round(microgame.score *
                                            SCORE_MULTIPLIER[difficulty]);

          $(microgame).remove();
          showNewScore(display.empty(), newScore, next);
        });
        $("body").append(microgame);
      });
  });
};

$.fn.extend({
  screen: function(content) {
    this.queue(function(next) {
      $(this).empty().append($('<h1></h1>').text(content || ''));
      next();
    });
    return this;
  }
});

$("#play").click(function() {
  var display = $("#screen .screen-container");

  $('html').addClass('playing');
  display.screen("Ready Player One").delay(READ_DELAY);
  playMicrogames(display, 'easy');
  display.screen("Getting Harder Now...").delay(READ_DELAY);
  playMicrogames(display, 'medium');
  display.screen("Maximum Difficulty!").delay(READ_DELAY);
  playMicrogames(display, 'hard');
  display.delay(READ_DELAY).screen("Game Over");

  return false;
});
</script>
{% if GA_TRACKING_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_TRACKING_ID }}', '{{ GA_HOSTNAME }}');
  ga('send', 'pageview');

</script>
{% endif %}
