{% extends "base.html" %}

{% block head %}
<meta name="makes" content="{{makesJSON}}">
<link rel="stylesheet" href="/css/minicade.css">
{% endblock %}

{% block title %}Minicade for #{{tag}}{% endblock %}

{% block body %}
<div id="screen" class="vcenter">
  <div class="screen-container"></div>
</div>
<div id="page">
<section>
  <div class="container">
    <h2 class="subheading"><span class="tag-name">#{{tag}}</span></h2>
    {% if isPlayable %}
      <p>This is an arcade of {{makes.length}} mini game{% if makes.length > 1 %}s{% endif %} created with <a href="https://thimble.webmaker.org/">Thimble</a> and tagged with <span class="tag-name">#{{tag}}</span>.</p>
      <a href="#play" class="btn btn-awsm">Play Minicade</a>
      <br>
      <br>
      <p><small>Want to start your own minicade? <a href="/">It's easy</a>!</small></p>
    {% endif %}
    <div class="row joystick">
      <img src="/images/joystick.png">
    </div>
    <div class="playlist-rows">
    {% if not isPlayable %}
      <div class="row">
        <div class="col-sm-12 instructions">
          <p>There are no games in this minicade yet. To add one, create a game on <a href="https://thimble.webmaker.org">Thimble</a> and tag it with <span class="tag-name">#{{tag}}</span>. Then reload this page.</p>
          <p>(Don't like the tag <span class="tag-name">#{{tag}}</span>? You can change it by hacking the URL in your browser's address bar.)</p>
        </div>
      </div>
    {% else %}
    {% for make in makes %}
      <div class="row">
        <div class="col-sm-8">
          <h6>{{make.title}}</h6>
          <p><small>{{make.description}}</small></p>
        </div>
        <div class="col-sm-4 text-right">
          <h6><a href="{{make.remixurl}}" class="btn btn-awsm btn-awsmblue btn-xs">Remix Game</a></h6>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    </div>
  </div>
</section>
</div>
{% endblock %}

{% block credits %}
<p>All the games in this minicade are by their respective authors.</p>
{% endblock %}

{% block scripts %}
<script src="/js/minicade.js"></script>
{% endblock %}
