@import "../vendor/bootstrap/less/variables.less";

@blue: #3FA9F5;
@lightblue: #B2DDFB;
@darkblue: #2F7FB8;
@lightyellow: #FFFF66;
@darkyellow: #EBB161;
@lightorange: #F15A24;
@darkorange: #CF4D1F;

@sectionpadding: 80px;

@import "../vendor/bootstrap/css/bootstrap.css";
@import "../fonts/OpenSans-Light-webfont.css";
@import "../fonts/OpenSans-ExtraBold-webfont.css";

// Mixins
.ultra-bold() {
  font-family: 'Open Sans Extrabold';
  font-weight: normal;
  text-transform: uppercase;
}

// Rules
body {
  font-family: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: @blue;
  background: @lightyellow;
}

h1, h2, h3, h4, h5, h6 {
  .ultra-bold;
}

.btn.btn-awsm {
  .ultra-bold;
  color: white;
  border-radius: 0;
  background-color: @lightorange;
  border-bottom: 6px solid @darkorange;
}

.btn.btn-awsm:hover {
  color: black;
  background-color: @lightyellow;
  border-bottom-color: @darkyellow;
}

section {
  position: relative;
  padding: @sectionpadding 0;
  background: white;
}

section.inverted {
  background: @blue;
  color: white;
}

section:not(.yellow) a:not(.btn) {
  color: inherit;
  text-decoration: underline;
}

section.yellow {
  background: @lightyellow;
  color: black;
}

.arcade-holder {
  text-align: right;
}

@media (max-width: @screen-xs-max) {
  .arcade-holder, .upside-down-friend-holder {
    text-align: center;
  }
}

.upside-down-friend-holder {
  position: relative;
  top: -@sectionpadding;
  margin-bottom: -@sectionpadding;
}

.next-section-callout {
  .ultra-bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.next-section-callout .glyphicon {
  font-size: 30px;
}

code {
  background: transparent;
  color: inherit;
}

section.inverted .panel, section.inverted .panel-title {
  color: @blue;
}

.row.joystick {
  position: relative;
  height: 30px;
  background-color: @darkblue;
}

.row.joystick img {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.playlist-rows .instructions {
  padding-top: 1em;
}

.playlist-rows .row {
  background-color: @lightblue;
  color: @blue;
  border-top: 1px solid @blue;
}

.playlist-rows .row:first-child {
  border-top: none;
}
